* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-primary: #f1f5f9;
    --text-color-secondary: #cbd5e1;
    --brand-color-light: #60a5fa; 
    --brand-color-dark: #1d4ed8;
    --bg-color: #0f172a;
    --stroke-color: #1e293b;
}

body {
    color: var(--text-color-primary);
    background-color: var(--bg-color);
}